.announcement
{
font-size: large;
padding-bottom: 15px;
}

.border
{
display: inline-block;
margin: 2%;
width: 96%;
}

.labels
{
float: left;
font-size: small;
font-weight: bold;
padding-left: 10px;
width: 60%;
}

.values
{
float: left;
font-size: small;
padding-left: 10px;
width: 30%;
}

.searchInput {
    width: 100%;
    font-size: large;
}
