
.km-content::after {
  content: "";
  background-image: url("../img/qad-logo.png");
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position:top right;
  opacity: 1;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.announcement
{
font-size: large;
padding-bottom: 15px;
}

.border
{
display: inline-block;
margin: 2%;
width: 96%;
}

.labels
{
float: left;
font-size: small;
font-weight: bold;
padding-left: 10px;
width: 60%;
}

.values
{
float: left;
font-size: small;
padding-left: 10px;
width: 30%;
}

.searchInput {
    margin-top: 5px;
    width: 100%;
    font-size: large;
    background-image: url("../img/homepage.png");
}
